*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth ;
    
}
body{
    background-color: rgba(243, 243, 243, 0.616);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: solid 20px #000;
    border-right: solid 20px #000;
    border-top: solid 20px;    
}
     /* Navbar css kodları */
.navbar{
    margin: auto;
    display: table;
    background-color: black;
    color: white;
    border-radius: 0 0 20px 20px;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li{
    padding: 20px  35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.navbar ul li:hover{
    background-color: rgba(243, 243, 243, 0.616);
    border-radius: 20px;
    color: black;
    transition: 500ms;
}

/* index sayfası css kodları */

.conteiner{
    background-image: url(photos/blur-arkaplans.jpg);
    background-size: 100%;
}
.content-1{
    display: flex;
    margin:0 0 240px 0;
}
.content-1 img{
    width: 600px;
    height: 600px;
    margin: -15px 0 0 0;
}
.content-1 h1{
    
    font-size: 40px;
    margin: 200px auto auto 100px;
    display: table;
}
.content-1-header h1{
    display: inline-block;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg,#2ca2b4,#5598de 24%,#7f87ff 45%,#f65aad 76%,#ec3d43);
    will-change: transform;
    padding-top: 50px;
    padding-left: 100px;
    overflow: hidden;
}
.assagi-ok img{
    background-color: rgba(255, 255, 255, 0.157);
    margin: -15% auto 61px auto;
    display: table;
    width: 70px;
    height: 70px;
    border-radius: 20px;
}

.content-2{
    display: flex;
}
.content-2 img{
    margin: 100px 0px 100px 0;
    min-width: 700px;
    min-height: 434px;
}
.content-2 h1{
    margin: 150px 0 0 115px;
    text-transform: uppercase;
}
.content-2 h2{
    margin: 70px 0 0 85px;
    color: rgba(32, 32, 32, 0.9);
    text-transform: uppercase;
}

.content-3{
    display: flex;
}
.content-3 img{
    margin: 190px 0 0 0;
    width:657px;
    height:303px;
}
.content-3 h1{
    margin: 150px 0 0 70px;
    text-transform: uppercase;
}
.content-3 h2{
    text-transform: uppercase;
    margin: 70px 0 0 20px;
    color: rgba(32, 32, 32, 0.9);
}

.content-4{
    display: flex;
}
.content-4 img{
    margin:190px 0px 150px 0;
    width: 790px;
    height: 400px;
}
.content-4 h1{
    margin: 220px 0 0 80px;
    text-transform: uppercase;
}
.content-4 h2{
    margin: 70px 0 0 30px;
    color: rgba(32, 32, 32, 0.9);
    text-transform: uppercase;
}

.footer{
    margin: 0;
    display: flex;
    min-height: 300px;
    background-color: #353535;
    color: #eee;
}
.footer-iletisim-menu{
    margin: 15px 200px;
    
}
.footer-iletisim-menu h2{
    margin: 0 0 20px 0;
}
.footer-iletisim-menu ul{
    list-style: none;
    margin: 0 0 0 -20px;
}
.footer-hr{
    margin: 20px 0 0 -130px;
}
.footer-box{
    color: rgba(255, 255, 255, 0.692);
    margin: 40px 0 0 150px;
}
.anasayfa-button img{
    background-color: rgba(87, 87, 87, 0);
    border-radius: 50px;
    width: 100px;
    height: 50px;
    margin: 20px 0 0 100px;
}
.anasayfa-button img:hover{
    background-color: #8080809b;
    transition: 300ms;
    scroll-behavior: smooth;
}
.copyright{
    padding: 10px 0;
    margin: auto;
    display: table;
}

/*modeller sayfası css kodları */

